.app-description-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.map-logic-container {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  padding: 20px; /* Adjust padding as needed */
}

/* Styling for the reversed description */
.map-logic-container.reversed {
  flex-direction: row;
}

.image-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-mocks {
  max-width: 100%;
  height: auto;
}

.text-container {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.text-container-reversed {
  flex: 1;
  padding: 20px;
  text-align: right;
}

.text-container-notifs {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.headers {
  font-size: 30px;
}

.text-container h5 {
  margin-bottom: 10px;
}

.text-container-reversed h3 {
  margin-bottom: 10px;
}

.text-container-notifs h4 {
  margin-bottom: 10px;
}


@media screen and (max-width: 768px) {
  .map-logic-container {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .map-logic-container.reversed {
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
  }

  .image-container {
    width: 100%;
  }
}
