.description-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: -70px;
  align-items: center;
  object-fit: contain;
}

.text-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  /* align-items: center; */
  justify-content: center;
}

.image-mocks {
  max-width: 100%;
  min-width: 300px;
  height: auto;
}

.headers {
  font-size: 35px;
  align-items: left;
}

@media screen and (max-width: 820) {
  .image-container {
    flex-direction: column;
  }
  .text-container {
    margin-left: 100px;
    margin-right: 0px;
  }
}
